@import "./reset.css";

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #f8f8f8;
}

/* RegisterPage */

.container {
  max-width: 80%;
  margin: 0 auto;
	padding: 10px;
}

.register {
  margin: 0 auto;
  padding: 5px;
}

.form {
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  max-width: 420px;
  padding: 15px;
  margin: 20px auto;
  background-color: #bababa;
}

.input {
	width: 250px;
  display: block;
  padding: 8px 10px;
  margin-bottom: 10px;

  border: 1px solid #ccc;
  border-radius: 5px;

  font-family: inherit;
  font-size: 16px;
}

.btn {
  display: block;
  padding: 8px 10px;

  border: 0;
  border-radius: 5px;
  background-color: #1cbc11;
  cursor: pointer;

  font-family: inherit;
  font-size: 16px;
  color: #fff;

  transition: 1s;
}

.btn:hover {
  background-color: #14a20a;
}


