@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	font-family: 'Roboto', sans-serif;
	height: 100%;
}

body {
	background: var(--tg-theme-bg-color);
	color: var(--tg-theme-text-color);
}

a {
	color: var(--tg-theme-link-color);
	text-decoration: none;
}

.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
	margin-top: 100px;
}

/* btn */

.btn {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	padding: 7px;
	height: 25px;
	width: 230px;
	border: none;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
	background: var(--tg-theme-button-color);
	color: var(--tg-theme-button-text-color);
	position: relative;
	box-sizing: border-box;
	transition: all 400ms ease;
}

.btn:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 25px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 5px;
	transition: all 2s ease;
}

.btn:hover:before {
	width: 100%;
}

.nameTitle {
	font-weight: 500;
	max-width: 230px;
	margin: 10px auto;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}

.title_inner {
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
