.nav {
  margin: 0 auto;
  padding: 20px 0;
}

.nav-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  font-family: "Poppins", sans-serif;
}

.nav-list__item{
	color: var(--tg-theme-button-color);
}